@charset "UTF-8";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
	height: 64px;
  border: 1px solid #1d1d1d;
  border-radius: 8px;
  padding: 20px 16px;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 1 !important;
  transition: .3s;

  &-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    margin-top: rem(60);

    &.full{
      flex-direction: column;
      gap: 10px;

      .btn{
        width: 100%;
        justify-content: center;
      }

      &.nowrp{
        flex-direction: row;

        .btn {
          flex: 1;
          justify-content: center;
        }
      }
    }
  }

  &-blue {
    background: #2973D6 !important;
    border-color: #2973D6 !important;
    color: #fff !important;

    @include hover {
      background: #1d56bc !important;
      border-color: #1d56bc !important;
    }
    
    &:active{
      background: #16408D !important;
      border-color: #16408D !important;
    }
  }

  &-blue2 {
    background: $color-2 !important;
    border-color: $color-2 !important;
    color: #fff !important;
  }

  &-blue3 {
    background: $blue !important;
    border-color: $blue !important;
    color: #fff !important;
  }

  &-red {
    background: $red2 !important;
    border-color: $red2 !important;
    color: #fff !important;
  }

  &-green {
    background: $green !important;
    border-color: $green !important;
    color: #fff !important;

    @include hover {
      background: #16a181 !important;
      border-color: #16a181 !important;
    }

    &:active{
      background: #067A5E !important;
      border-color: #067A5E !important;
    }
  }

  &-green {
    background: #005C60 !important;
    border-color: #005C60 !important;
    color: #fff !important;
  }

  &-black {
    background: #1D1D1D !important;
    border-color: #1D1D1D !important;
    color: #fff !important;
  }
  
  &-orange {
    background: #FF7146 !important;
    border-color: #FF7146 !important;
    color: #fff !important;

    @include hover {
      background: #A3482D !important;
      border-color: #A3482D !important;
    }
    
    &:active{
      background: #421E12 !important;
      border-color: #421E12 !important;
    }
  }

  &-outline-blue {
    background: #EFF5FF !important;
    border-color: #246BEB !important;
    color: #246BEB !important;
  }

  &-blue, &-blue2, &-blue3, 
  &-green, &-black, &-orange, &-red{
    .icon-arr-blk {
      background-image: url(../images/common/icon_arr.svg);
    }
  }
  
  &-xxs{
    min-height: 24px !important;
    height: auto !important;
    min-width: 40px !important;
    padding: 5px 6px !important;
    font-size: 12px !important;
    letter-spacing: -0.04em;
  }

  &-xs{
    min-height: 0 !important;
    height: 30px !important;
    border-radius: 4px !important;
    padding: 0 10px !important;
    font-size: 12px !important;
    letter-spacing: -0.04em;
  }

  &-sm{
    height: 36px !important;
    min-width: 0 !important;
    border-radius: 4px !important;
    padding: 0 14px !important;
    font-size: 14px !important;
    letter-spacing: -0.04em;
  }

  &-md{
      height: 45px !important;
      border-radius: 8px !important;
      font-size: 16px !important;
      padding: 0 16px !important;
  }
  
  &-lg{
      height: 56px !important;
      border-radius: 8px !important;
      font-size: 18px !important;
      padding: 0 20px !important;
  }

  &-xl{
      height: 64px !important;
      border-radius: 8px !important;
      font-size: 19px !important;
      padding: 0 24px !important;
  }

  &-wide{
    min-width: 392px;
  }

  &:disabled,
  &.disabled {
    background: #eef3f7 !important;
    border-color: #c3ccd4 !important;
    pointer-events: none;
    color: #adb3b9 !important;
  }

  &-full{
    width: 100%;
    justify-content: center;
  }

  @include mdq-max(lg) {
    height: 44px;
    border-radius: 4px;
    padding: 14px 18px;
    font-size: 15px;
    
    &-wide{
      min-width: 0;
      width: 100%;
    }
  }
}